:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
}

address {
  font-style: normal;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
  /* outline: 1px solid red; */
}

.header-logo {
  margin-right: 76px;
}

.logo {
  display: inline-block;
  margin-bottom: 16px;
}

.nav,
.nav-list,
.address-list,
.header-container,
.features-list {
  display: flex;
  /* outline: 1px solid red; */
}

.nav {
  align-items: center;
}
.adress {
  margin-left: auto;
}

.address-list {
  gap: 40px;
}

.nav-list {
  gap: 40px;
}

.header {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo,
.logo-header {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: var(--iris);
}

.logo-studio {
  color: var(--navy-blue);
}

.nav-link {
  text-decoration: none;
  color: var(--navy-blue);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio-link,
.portfolio-link {
  color: var(--ocean);
}

.nav-link::after {
  display: block;
  content: "";
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--ocean);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover::after {
  opacity: 1;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--ocean);
}

.address-link {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: var(--ocean);
}

.hero-section {
  margin: 0 auto;
  max-width: 1440px;
  background-color: var(--navy-blue);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 188px 0;
}

.hero-title {
  color: var(--white);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.hero-btn {
  color: var(--white);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  background: var(--iris);
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--ocean);
}

.section-title {
  color: var(--navy-blue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

/* FEATURES */

/* .hero-section,
.features-section,
.solutions-section {
  /* margin-bottom: 120px; */

.features-section {
  padding: 120px 0;
}

.solutions-section {
  padding-bottom: 120px;
}

.team-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.features-list {
  gap: 24px;
}

.feature-item {
  width: 264px;
}

.feature-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 112px;
  border-radius: 4px;
  background: var(--cloud);
  margin-bottom: 8px;
}

/* SOLUTIONS */

.solutions-list,
.team-list {
  display: flex;
  gap: 24px;
}

/* TEAM */

.team-section {
  background-color: var(--cloud);
}

.team-member {
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.member-text {
  padding: 32px 16px;
  text-align: center;
}

.member-position {
  margin-bottom: 8px;
}

/* SOCIALS */

.socials {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--iris);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--ocean);
}

.social-icon {
  fill: var(--cloud);
}

/* Customers */

.customers-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers-header {
  margin-bottom: 72px;
}

.clients-list {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  color: var(--light-slate);
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
  color: var(--ocean);
  border-color: var(--ocean);
}

.client-icon {
  fill: currentColor;
}

/* .client-link:hover .client-icon,
.client-link:focus .client-icon {
  fill: var(--ocean);
} */

/* FOOTER-SOCIALS */

.footer-container {
  display: flex;
  align-items: first baseline;
  /* gap: 120px; */
}

.footer-logo-wrapper {
  margin-right: 120px;
}

.footer-socials-desc {
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

.footer-socials {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--iris);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--green);
}

.footer-social-icon {
  fill: var(--cloud);
}

/* PORTFOLIO */
.projects-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filter-list {
  width: 596px;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

.filter-btn {
  color: var(--iris);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--cloud);
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--cornflower);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--ocean);
  cursor: pointer;
  color: var(--white);
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.project-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-img-box {
  display: block;
  position: relative;
  overflow: hidden;
}

/* Overlay text */
.overlay-text {
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  color: var(--cloud);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover .overlay-text,
.project-link:focus .overlay-text {
  transform: translateY(0);
}


.prj-item-text {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
  background: var(--white);
}

.feature-title,
.member-name,
.project-title {
  color: var(--navy-blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.feature-desc,
.member-position,
.project-type {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer {
  background-color: var(--navy-blue);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-logo {
  color: var(--cloud);
}

.footer-description {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
  width: 264px;
}

/* MODAL */

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  backdrop-filter: blur(3px);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background: var(--dairy);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: var(--cornflower);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--ocean);
  border: none;
}

.modal-icon {
  fill: var(--navy-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover .modal-icon,
.modal-btn:focus .modal-icon {
  fill: var(--white);
}
